{% extends 'pages\base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">About AI Writer</h1>
                <p class="lead">AI Writer is a cutting-edge technology that utilizes artificial intelligence to assist in the writing process. It is capable of generating written content on a wide range of topics with a high level of coherence and readability. AI Writer can be used for a variety of applications such as content creation for websites, article writing, essay writing, and even creative writing. It can also be used to paraphrase and summarize existing texts, making it a valuable tool for content optimization. With the ability to understand the nuances of human language and adapt to different writing styles, AI Writer is set to revolutionize the way we create and consume written content. It will help users to save time and effort, and also to get better results.</p>
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <div class="card text-center">
                            <img src="https://i.imgur.com/96pT5dd.jpeg" alt="Team Member">
                            <h2>Eyad ElShabrawy</h2>
                            <p>Founder</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</section>

{% endblock %}