.about h1{
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
}
.about p{
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 50px;
}
.text-center {
    text-align: center;
}
